    .book-langs-index .inner {
        max-width: 800px;
    }

    .book-langs-index .inner h3 {
        text-align: center;
        font-size: 30px;
    }

    .book-langs-index .inner .languages li {
        font-size: 24px;
    }
